/** Make sure slides are properly aligned with each other. **/
h4 {
  margin-bottom: 10px;
}

slides > slide > hgroup+video+article {
  margin-top: 45px;
}

.additional-margin-top {
  margin-top: 45px;
}

/** Have badges to indicate whether a feature is available today,
    or will be available in the near future. **/
.today::after {
  background: rgb(13, 168, 97);
  background: linear-gradient(180deg, #00a86d, #009f5d);
  color: white;
  content: 'today';
}

.today.new::after {
  content: 'brand new!';
}

.tomorrow::after {
  background: rgb(244, 74, 63);
  background: linear-gradient(180deg, #f9cc46, #f6c000);
  color: white;
  content: 'soon';
}

.today::after, .tomorrow::after {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .4em;
  margin-left: 25px;
  padding: 2px 8px;
  border-radius: 5px;
  position: relative;
  top: -6px;
}

/** Presenter information in the slide's notes **/
aside.note .presenter {
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
}

aside.note ul { 
  list-style-type: none;
  margin-left: 0px;
  font-size: 1.2em;
  text-align: center;
}

aside.note ul li { margin-bottom: 0.1em; }

aside.note ul li:before {
  display: none;
}

.supports.ie {
	
}
